[user]
	# email = malo.legendre-lemaire@epita.fr
	email = malolegendrelemaire@gmail.com
	name = Malo Legendre-Lemaire
[credential]
	helper = cache
[init]
	defaultBranch = main
[alias]
	# Complex
	amend = commit --amend --no-edit
	edit = commit --amend --edit
	unstage = restore --staged
	ts = diff --stat
	force = push --force-with-lease
	l = lg -n 10
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(yellow)%h%C(reset)%C(auto)%d%C(reset) %C(normal)%s%C(reset) %C(dim white)%an%C(reset) %C(dim blue)(%ar)'
	rl = reflog -n 10
	rcm = commit -c HEAD

	pd = !git diff | diff-so-fancy
	fancy = !git diff | diff-so-fancy

	ignore = !$EDITOR .git/info/exclude
	skip = update-index --skip-worktree
	unskip = update-index --no-skip-worktree 
	skipped = !git ls-files -v | grep '^S' | sed 's/^S //'

	# Mispells
	pul = pull
	poul = pull
	poush = push
	poull = pull
	psuh = push
	pesh = push
	peush = push
	
	# One letters
	s = status
	b = branch
	a = add
	d = diff
	c = clone

	# Shortcuts
	cu = checkout
	co = checkout

	ba = branch
	bra = branch
	bran = branch
	br = branch
	brn = branch
	brnc = branch
	brnch = branch
	
	cl = clone
	cln = clone
	clo = clone
	clon = clone
	clone = clone

	ps = push
	pu = push
	pus = push
	
	cm = commit
	ci = commit
	pl = pull
	rs = reset
	rt = restore
	st = status
	sta = status
	stat = status
	ad = add
	di = diff
	dif = diff
[pull]
	rebase = true
[protocol "file"]
	allow = always
[push]
	autoSetupRemote = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
